
/*== Playlist Icon View ==*/
.playlist-icon-view .media-list img {
    margin: 0;
    width: 150px;
    height: 115px;
    position: absolute;
    float: none;
}
.playlist-icon-view .media-list .row {
    position: static;
    float: left;
    width: 150px;
    height: 175px;
    margin: 5px;
    border: none;
    box-shadow: 0 0 0 black, 0 0 0 black;
    transition: box-shadow .1s ease-out, transform .1s ease-out;
}
.playlist-icon-view .media-list .row:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px black, 0 0 10px black;
    overflow: visible;
}
.playlist-icon-view .media-list .meta {
    left: 0;
    margin: 0;
    width: 100%;
    /* text-align: center; */
    /* text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,               #000 0px 0px 1px,   #000 0px 0px 2px, #000 0px 0px 5px, #000 0px 0px 7px; */
    border-bottom: none;
    height: 60px;
    top: 115px;
}
.playlist-icon-view .media-list .meta span {
    position: static;
    display: block;
    padding: 0 5px;
    width: auto;
    top: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    white-space: pre;
}
.playlist-icon-view .media-list .meta .author {
    color: #ccc;
    font-size: 12px;
    height: 14px;
    line-height: 13px;
    margin: 2px 0;
    width: 100%;
    left: 0;
    text-align: center;
}
.playlist-icon-view .media-list .meta .title,
.playlist-icon-view .history .meta .author {
    white-space: normal;
    max-height: 50px;
}
.playlist-icon-view .media-list .meta .duration,
.playlist-icon-view .history .meta .timestamp {
    bottom: 0;
    font-size: 12px;
    position: absolute;
    top: -17px;
    right: 0;
    background: rgba(0,0,0,0.5);
    height: 15px;
    width: auto;
    left: auto;
    padding: 0 5px;
}
.playlist-icon-view #media-panel .actions {
    position: static;
    width: 150px;
    margin-top: -62px;
    background: transparent !important;
    height: 30px;
    text-align: right;
}
.playlist-icon-view .media-list .actions div {
    width: 30px;
    height: 30px;
    background: rgba(0,0,0, 0.6);
    float: none;
    display: inline-block;
    margin-right: -4px;
}
.playlist-icon-view .media-list .actions div:hover,
.playlist-icon-view .media-list .selected {
    background: rgba(0,0,0, 0.8);
}
.playlist-icon-view .media-list .actions i {
    top: 0;
    left: 0;
}
.playlist-icon-view .media-list .title,
.playlist-icon-view .history .meta .name {
    left: 0;
    width: 100%;
    text-align: center;
}